

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-size: calc(60% + 0.6vmin);
}

p{
    text-align: justify;
    font-size: calc(60% + 0.6vmin);
}

header {
    background-color: blueviolet !important;
    height: 60px;
}

.container{
    font-size: calc(60% + 0.5vmin);
}

.cub {
    margin: 20px;
    
    background-color: bisque;
}

.cdc{
    margin: 20px;
    background-color: bisque;
}

.pacto{
    text-align: center;
}